.c-flex + .c-flex{
  padding-top: 32px;
}

.c-flex__item{
  h3{
    margin-bottom: 8px;
    font-size: 18px;
  }

  img{
    margin-bottom: 16px;
  }
}

@include mq('md'){
  .c-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .-reverse{
    flex-direction: row-reverse;
  }

  .c-flex__item{
    width: 50%;
    
    img{
      height: 320px;
    }

    @include mq('lg'){
      width: 48%;
    }
  }

  .c-flex__text{
    padding: 0 16px;
    text-align: justify;

    h3{
      font-size: 20px;
    }

    @include mq('lg'){
      padding: 0 24px;
    }
  }
}
