.c-section{
  padding-top: 32px;
  margin-bottom: 64px;

  @include mq('md'){
    padding-top: 48px;
  }

  @include mq('lg'){
    padding-top: 96px;
    margin-bottom: 96px;
  }
}

.c-section + .c-section{
  padding-top: 0;
}

.c-section__title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;

  @include mq('md'){
    font-size: 28px;
    margin-bottom: 28px;
  }
}

.c-section__text{
  margin-bottom: 28px;
  text-align: justify;

  p{
    margin-bottom: 16px;
  }

  @include mq('md'){
    margin-bottom: 48px;
  }
}

.c-image{
  margin: 1.5rem calc(50% - 50vw) 28px;
  width: 100vw;
  display: flex;

  @include mq('md'){
    margin-bottom: 48px;
  }

  @include mq('lg'){
    margin: 0 auto 48px;
    width: 100%;
  }

  img{
    width: calc(100% / 3 - 0.01px);
    height: 128px;

    @include mq('md'){
      height: 240px;
    }
  }
}

.c-section__heading{
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 28px;
  max-width: 400px;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	letter-spacing: .1em;
  font-weight: normal;

  @include mq('md'){
    margin-bottom: 48px;
    height: 60px;
    line-height: 60px;
  }
}
